{{>navbar}}

  <div class="container p-4">
    <div class="card">
      <div class="card-header bg-success text-white">
        <h1 class="text-center">Acerca de la Aplicación</h1>
      </div>
      <div class="card-body">
        <div class="container p-4">
            <p class="fs-4">
                Esta aplicación fue desarrollada por los
                alumnos de 7mo semestre de ISC con el fin 
                de hacer más sencilla la tarea de creación 
                de horarios para la coordinadora de ingenierias
                de la Universidad Autonoma de la Laguna 
            </p>
            <ul class="list-group">
                <h5>Investigación-Documentación</h5>
                <a href="https://github.com/miriamand" class="list-group-item">Miriam Andrade</a>
                <a href="https://github.com/GITDeath69" class="list-group-item">Felipe Escobedo</a>
                <h5>Desarrollo-Programación</h5>
                <a href="https://github.com/Shokolat1" class="list-group-item">Abdo Sabag</a>
                <a href="https://github.com/Rog3rz" class="list-group-item">Victor Ortiz</a>
                <a href="https://github.com/seberydev" class="list-group-item">Sebastian Cruz</a>
                <a href="https://github.com/icePain12" class="list-group-item">Luis Bocanegra</a>
                <h5>Diseño</h5>
                <a href="https://github.com/ArtistBuilds" class="list-group-item">Axel Chacón</a>
                <a href="https://github.com/NassimLimones78" class="list-group-item">Nassim Limones</a>
                <a href="https://github.com/Dagoberto26" class="list-group-item">Dagoberto Martinez</a>
                <a href="https://github.com/ManuelGalindo911" class="list-group-item">Manuel Galindo</a>
            </ul>
        </div>
      </div>
      <div class="card-footer">
        <h6 class="text-center">
            ISC UAL 7MO 2022 &copy;
        </h6>
      </div>
    </div>
  </div>