<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="v60_16774">

    {{>navbarInicio}}

    <div class="name"></div>
    <span class="v60_19172">¡Empecemos!</span>
    <span class="v60_19173">Averigua lo que puedes hacer aquí</span>
      <div class="btn-directorios btn-directorios2">
        ¡Utilice la barra de navegación a la izquierda para comenzar!
      </div>
    <div class="v62_17843"><img src="images/logo.png" alt=""></div>
  </div>
</body>

</html> <br /><br />
<link rel="stylesheet" href=".">